:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --twitter-color: #1d9bf0;
  --instagram-background-color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --github-color: #24292f;
  --linkedin-color: #0a66c2;
  --codepen-color: #1e1f26;
  --whatsapp-color: #25d366;
  --custom-gradient: linear-gradient(
    109.6deg,
    rgb(9, 9, 121) 11.2%,
    rgb(144, 6, 161) 53.7%,
    rgb(0, 212, 255) 100.2%
  );
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 14px !important;
  }
  h4 {
    font-size: 12px !important;
  }
  h5 {
    font-size: 8px !important;
  }
  i {
    font-size: 30px !important;
  }
  .email-link,
  .email-link-footer,
  .footer-github-link {
    font-size: 14px !important;
  }
  p {
    font-size: 12px !important;
  }
  .email-link-footer {
    margin-top: 20px !important;
  }
  .navigation-links a {
    margin: 10px !important;
    padding: 5px !important;
  }
  .social-links i {
    font-size: 14px !important;
  }
  .social-media-home {
    padding: 3px 16px !important;
    margin: 0 10px !important;
  }
  .custom-link,
  .about-link {
    font-size: 10px !important;
  }
}
body {
  margin: 0 auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 96px;
  font-family: "Satisfy", cursive;
  line-height: 1.5;
}
h2,
h3,
h4,
h5,
footer {
  font-family: "SF Mono", sans-serif;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: "SF Mono", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.custom-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  align-items: center;
  padding: 18px 30px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.mybrand {
  font-family: "Satisfy", cursive;
}
i {
  font-size: 50px;
}
.fa-instagram {
  color: transparent;
  background: var(--instagram-background-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-twitter {
  color: transparent;
  background: var(--twitter-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-github {
  color: transparent;
  background: var(--github-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-linkedin {
  color: transparent;
  background: var(--linkedin-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-codepen {
  color: transparent;
  background: var(--codepen-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-whatsapp {
  color: transparent;
  background: var(--whatsapp-color);
  background-clip: text;
  -webkit-background-clip: text;
}
.nav-link {
  font-family: "SF Mono", sans-serif;
  font-weight: 600;
  color: #423e8d;
}
.active {
  color: var(--primary-color) !important;
}
.custom-bg {
  background: var(--secondary-color);
}
.email-link-footer {
  text-decoration: none;
  color: var(--codepen-color);
  font-size: 24px;
  line-height: 1.5;
  margin: 30px 0;
}
.email-link-footer:hover {
  color: var(--primary-color);
}
.social-links i {
  font-size: 18px;
}
.social-links i:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
.social-media-home {
  padding: 10px 22px;
  margin: 0 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.social-media-home:hover {
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.footer-github-link a {
  color: transparent;
  background: var(--custom-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}
